@font-face {
    font-family: "Poppins";
    src: url("https://fonts.googleapis.com/css?family=Poppins");
}

@font-face {
    font-family: "Montserrat";
    src: url("https://fonts.googleapis.com/css?family=Montserrat");
}

@font-face {
    font-family: "Quicksand";
    src: url("https://fonts.googleapis.com/css?family=Quicksand");
}